# Lab | Inferential statistics - T-test & P-value

1. One-tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on average than the machine currently used. To test that hypothesis, the times each machine takes to pack ten cartons are recorded. The results are in seconds in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t-test, does the data provide sufficient evidence to show if one machine is better than the other?

In [1]:
import pandas as pd
import numpy as np 
from scipy.stats import ttest_rel
import scipy.stats as st
from scipy.stats import f_oneway

In [2]:
data = pd.read_csv("machine.txt", sep='\t', encoding='utf-16')
data.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [3]:
data = data.rename(columns={'    Old machine': 'old_machine', 'New machine': 'new_machine'})

In [4]:
data.head()

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [5]:
# Calculating mean for the old machine
old_mean =data['old_machine'].mean()
old_mean

43.230000000000004

In [6]:
# One-tailed t-test
# H0: mean of new machine <= mean of old machine
# H1: mean of new machine > mean of old machine

# significance level (alpha)
alpha = 0.05

t_stat, p_value = st.ttest_1samp(data['new_machine'], old_mean, alternative='greater')

# Print the results
print('t-statistic: {:.2f}'.format(t_stat))
print('p-value: {:.2f}'.format(p_value))

# Check for statistical significance
if p_value <= alpha:
    print('p-value <= alpha : we reject null hypothesis -> the performance of the new machine is worse')
else:
    print('p-value > alpha : we accept null hypothesis -> the performance of the new machine is better')

t-statistic: -5.04
p-value: 1.00
p-value > alpha : we accept null hypothesis -> the performance of the new machine is better

2. Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment on your result.

In [7]:
pokemon = pd.read_csv('pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [8]:
# Matched pairs test
# H0: attack scores = defense scores
# H1: attack scores != defense scores 

# 2-tailed
alpha = 0.05 / 2 

t_statistic, p_value = st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

print('t-statistic: {:.2f}'.format(t_statistic))
print('p-value: {:.2f}'.format(p_value))

if p_value <= alpha:
    print('p-value <= alpha : we reject null hypothesis -> the attack and defense scores are not equal')
else:
    print('p-value > alpha : we accept null hypothesis -> the attack and defense scores are equal')

t-statistic: 4.33
p-value: 0.00
p-value <= alpha : we reject null hypothesis -> the attack and defense scores are not equal

# Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

- Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder


- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of the model, error terms, and total DoF

Data were collected randomly and provided to you in the table as shown: https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png

In [22]:
# H0: The mean etching rate is equal for different levels of power
# H1: The mean etching rate is not equal for different levels of power

# Part 2

In this section, use Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [10]:
data = pd.read_excel('anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [11]:
# Get the etching mean for each group:
group_df = data.groupby('Power ')['Etching Rate'].agg(etching_mean = 'mean', samples = 'size').reset_index()
group_df

  Power   etching_mean  samples
0  160 W         5.792        5
1  180 W         6.238        5
2  200 W         8.318        5

In [12]:
# SST computes the variance of the group means from the global mean
S2t = 0
for power in data['Power '].unique():
    ng = len(data[data['Power '] == power])
    S2t  += ng * ( (data[data['Power '] == power]['Etching Rate'].mean() - data['Etching Rate'].mean() ) ** 2)
S2t /= (data['Power '].nunique() - 1 ) 



# SSE computes the variance of the values against the global mean
S2E = 0
for power in data['Power '].unique():
    for rate in data[data['Power '] == power]['Etching Rate']:
        S2E += ( rate - data[data['Power '] == power]['Etching Rate'].mean() ) ** 2
S2E /= ( len(data) - data['Power '].nunique() )

print("The value of SST is {:.3f}".format(S2t))
print("The value of SSE is {:.3f}".format(S2E))

The value of SST is 9.088
The value of SSE is 0.246

In [13]:
# Calculate value of F distribution

F = S2t / S2E
print("The value of F is {:.3f}".format(F))

The value of F is 36.879

In [14]:
# Calculating the degrees of freedom

# K -1 >>> K = the number of groups
d1 = data['Power '].nunique() - 1 

# N - K >>> N = number of observations
d2 = len(data) - data['Power '].nunique()

print("Number of degrees of freedom d1: ",d1)
print("Number of degrees of freedom d2: ",d2)

Number of degrees of freedom d1:  2
Number of degrees of freedom d2:  12

In [18]:
# The probability to get any F value lower or equal to F can be obtained with the CDF

st.f.cdf(F, dfn = d1, dfd = d2)

0.9999924934157276

In [19]:
# The probability to get a value bigger than F

1 - st.f.cdf(F, dfn = d1, dfd = d2)

7.5065842723986975e-06

In [20]:
# The critical value which corresponds to an area of 0.05

f_crit = st.f.ppf(1-0.05, dfn = d1, dfd = d2)
print("The critical value which corresponds to an area of 0.05 is: {:.2f}".format(f_crit))


# since F (36.88) is greater than the critical value (3.89), we reject H0

The critical value which corresponds to an area of 0.05 is: 3.89

In [21]:
# calculation using scipy

# Define significance level
alpha = 0.05

print(st.f_oneway(data[data['Power '] == '160 W']['Etching Rate'],data[data['Power '] == '180 W']['Etching Rate'],
                  data[data['Power '] == '200 W']['Etching Rate']))


# Check the hypothesis
if p_value < alpha:
    print("we reject the null hypothesis. The mean etching rate is not equal for different levels of power.")
else:
    print("we accept the null hypothesis. The mean etching rate is equal for different power levels.")

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)
we reject the null hypothesis. The mean etching rate is not equal for different levels of power.